header {
    text-align: center;
    margin-top: 20px;
    font-size: 1.3em;
}

footer {
    text-align: center;
    color: grey;
    font-size: 0.9em;
}

.kartya {
    width: 70px;
    height: 70px;
    border: black 1px solid;
    margin: 5px;
}

.tartalom{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}